<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bus Status</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
  <section class="section">
    <!--div class="tabs is-toggle is-centered is-large">
        <ul>
          <li class="is-active"><a id="lav">Lav</a></li>
          <li><a id="cary">Cary</a></li>
        </ul>
    </div-->
    <div id="lav-view" class="tile is-ancestor">
        <div class="tile is-parent is-vertical notification is-info">
            <p class="title">Home to Work</h1>
            <p id="home"></p>
        </div>
        <div class="tile is-parent is-vertical notification is-info">
            <p class="title">Work to Home</h1>
            <p id="work"></p>
        </div>
        <a id="refresh" class="button is-primary tile is-parent is-vertical">刷新</a>
    </div>
    <div id="cary-view" class="tile is-ancestor" style="display:none">
        <div class="tile is-parent is-vertical notification is-info">
            <p class="title">Home to Work</h1>
            <p id="home"></p>
        </div>
        <div class="tile is-parent is-vertical notification is-info">
            <p class="title">Work to Home</h1>
            <p id="work"></p>
        </div>
        <a id="refresh" class="button is-primary tile is-parent is-vertical">刷新</a>
    </div>
  </section>
  <script type="text/javascript">
    var get_info_home = function(home_url){
            $$.ajax({
                url : home_url,
                success : function(result){
                    var xml = $$(result),
                    $$bus = xml.find("terminal"),
                    $$stopdis = xml.find("stopdis"),
                    $$time = xml.find("time");

                    var str = $$bus.text() + "距离静安新格" + ", 还有" + $$stopdis.text() + "站" + ", 约" + Math.round(parseInt($$time.text())/60) + "分钟";

                    $$("#home").html(str)
                },
                error : function(xhr, status, error){
                    alert(status);
                    alert(error);
                    $$("#home").html("数据异常，请稍后再试")
                }
            })
        };

        var get_info_work = function(work_url){
            $$.ajax({
                url : work_url,
                success : function(result){
                    var xml = $$(result),
                    $$bus = xml.find("terminal"),
                    $$stopdis = xml.find("stopdis"),
                    $$time = xml.find("time");

                    var str = $$bus.text() + "距离静安寺" + ", 还有" + $$stopdis.text() + "站" + ", 约" + Math.round(parseInt($$time.text()/60)) + "分钟";

                    $$("#work").html(str)
                },
                error : function(xhr, status, error){
                    alert(status)
                    $$("#work").html("数据异常，请稍后再试")
                }
            })
        };  
        
    var get_info = function(view){
        var home_url, work_url;
        if(view === "lav"){
            home_url = "http://www.shjt.org.cn:8005/bus/TrafficLineXML.aspx?TypeID=3&lineid=011300&stopid=4&direction=1&name=113%E8%B7%AF"
            work_url = "http://www.shjt.org.cn:8005/bus/TrafficLineXML.aspx?TypeID=3&lineid=007600&stopid=11&direction=1&name=76%E8%B7%AF"
        }else{
            home_url = "http://www.shjt.org.cn:8005/bus/TrafficLineXML.aspx?TypeID=3&lineid=001900&stopid=4&direction=1&name=19%E8%B7%AF"
            work_url = "http://www.shjt.org.cn:8005/bus/TrafficLineXML.aspx?TypeID=3&lineid=001900&stopid=15&direction=0&name=19%E8%B7%AF"
        }
        get_info_home(home_url);
        get_info_work(work_url)
    };

    $$(function(){
        $$(document).ready(function(){
            get_info("lav");
            $$("#refresh").on("click",function(){
                get_info("lav")
            });
            $$("div.tabs>ul>li").on("click",function(event){
                var id = $$("li.is-active>a")[0].getAttribute("id");
                alert(id);
                if(id === "cary"){
                    $$("div#cary-view").show();
                    $$("div#lav-view").hide();
                }else{
                    $$("div#cary-view").hide();
                    $$("div#lav-view").show();
                }
            })
        });
    })
  </script>
  </body>
</html>