<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical">
            <a class="button tile is-child notification is-primary">
              <p class="title">My Profile</p>
              <p class="subtitle">View my profile</p>
            </a>
            <a class="button tile is-child notification is-warning">
              <p class="title">Edit Profile</p>
              <p class="subtitle">Edit my profile here</p>
            </a>
            <a class="button tile is-child notification is-success" href="bus.html">
                <div class="content">
                  <p class="title">Bus Checking</p>
                  <p class="subtitle">Check the latest bus status</p>
                  <div class="content">
                    <!-- Content -->
                  </div>
                </div>
            </a>
        </div>
      </div>
  </section>
  </body>
</html>